.navbar{
    background-color: #2EFFF6
}
.fisicos{
    background-color: #8905B0
}
.margin{
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 55px;
}
.parceiros{
    background-color: azure;
}
.bgfooter{
    background-color: blue;
    color:blanchedalmond;
}